.choices-label{
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    float: left;
}
.title
{
    font-size: 10px;
    text-align: center;
    padding-bottom: 30px;
}
body{
    margin: auto;
    max-width: 500px;
    
}
.menu
{
    font-size: 34px;
    float: left;
}

a{
    margin-bottom: 8px;
}
.label
{
    font-style: italic;
    padding: 3px;
    font-size: 20px;
    flex: 1 0 auto; 
}

.display
{
    display: flex;
    flex-direction: row;

}
.display-label{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    
}

.under{
    position: relative;
    top: 31px;

}
.column
{
    display: flex;
    flex: column;
    background-color: brown;
}

.row
{
    display: flex;
    flex: row;
}